.menuContainer {
  min-height: 22vh;
  width: 20%;
  height: 23%;
  padding: 1rem;
  margin: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-width: 1400px) {
    width: 22%;
  }

  @media (max-width: 975px) {
    margin: 22rem;
  }

  @media (max-width: 900px) {
    margin: 18rem;
    width: 25%;
  }

  &__items {
    display: flex;
    align-items: center;
    padding: 0.7rem;

    &:hover {
      transform: translateY(-0.25rem);

      &:hover .menuContainer__icons {
        transform: rotateY(360deg);
      }
    }
  }

  &__icons {
    fill: $color-main-white;
    height: 4rem;
    width: 4rem;
    padding-right: 0.9rem;
    transition: all 0.8s;

    @media (max-width: 1000px) {
      height: 3.5rem;
      width: 3.5rem;
    }

    &--phone {
      padding-right: 2rem;
    }
  }
}
