.foodmenu {
  font-family: 'Besley', serif;

  &__gridcontainer {
    list-style-type: none;
    width: 80%;

    //  display: none; //
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    gap: 2rem;

    @media (max-width: 500px) {
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    }

    @media (max-width: 350px) {
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    }
  }

  &__griditem {
    color: $color-white;
    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;
    padding: 2rem;
    border-radius: 4px;
    background-image: linear-gradient(to right bottom, #f5c86c, #a87f26);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    z-index: 10;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: all 0.4s;

    &:hover {
      transform: scale(1.075);
      z-index: 11;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.3);

      @media (max-width: 850px) {
        transform: scale(1.025);
        box-shadow: 0 2rem 3rem rgba($color-black, 0.4);
      }
    }

    &--name {
      font-size: 2.3rem;
    }

    &--disc {
      letter-spacing: 0.1rem;
    }

    &--price {
      font-size: 2.3rem;
    }
  }
}

.foodMenuActive {
  display: grid;
}
